@use "../../styles/abstracts/spacing" as *;
@use "../../styles/abstracts/typography" as *;
@use "../../styles/abstracts/colors" as *;
@use "../../styles/abstracts/breakpoints" as *;
@use "sass:map";

/**
 * Dashboard root
 */
.dashboard {
  display: flex;
  flex-direction: column;
  gap: $space-6;
  margin-top: 2rem;
  margin-bottom: 200px;

  button {
    background-color: $color-primary-600;
    color: #fff;
    border: none;
    padding: $space-2 $space-4;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: $color-primary-700;
    }
  }

  .btn--delete {
    background-color: $color-danger-600;

    &:hover {
      background-color: $color-danger-700;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    text-align: center;

    h1 {
      font-size: $font-xxl;
      font-weight: $weight-semibold;
    }

    p {
      font-size: $font-sm;
      color: $color-text-secondary;
    }
  }

  &__summary {
    display: flex;
    width: 100%;
  }

  &__content {
    background-color: $color-surface;
    border: 1px solid $color-border;
    border-radius: 8px;

    &-body {
      padding: $space-6;
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: $space-6;

      @media (max-width: map.get($breakpoints, lg)) {
      grid-template-columns: 1fr;
      align-items: start;
    }
    }
  }

  &__subheader {
    display: flex;
    justify-content: space-between;
    grid-column: span 2;
    padding: $space-4 $space-6;
    border-bottom: 1px solid $color-border;
    width: 100%;

    button {
      margin-left: auto;
    }
  }

  &__transactions {
    display: flex;
    flex-direction: column;
    gap: $space-4;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: $space-4;
  }
}