@use '../../styles/abstracts/colors' as *;
@use '../../styles/abstracts/typography' as *;

.transaction-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: $color-surface;
  border: 1px solid $color-border;
  border-radius: 8px;

    & input, select {
      padding: 6px;
      border: 1px solid $color-border;
      border-radius: 6px;
    }

    & button {
      padding: 6px 12px;
      background-color: $color-primary-600;
      color: #fff;
      border: none;
      border-radius: 6px;
      cursor: pointer;

      &:hover {
        background-color: $color-primary-700;
      }
    }

}