@use '../abstracts/colors' as *;
@use '../abstracts/spacing' as *;

body {
  background-color: $color-bg;
  color: $color-text-primary;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

ul {
  list-style: none;
}