@use "../../styles/abstracts/colors" as *;
@use "../../styles/abstracts/typography" as *;

.transaction-list-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: $color-surface;
  border: 1px solid $color-border;
  border-radius: 8px;

  .transaction-list {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .transaction-item {
      display: flex;
      justify-content: space-between;
      padding: 12px 8px;

      &--income {
        border-left: 4px solid $color-income;
        
      }

      &--expense {
        border-left: 4px solid $color-expense;
      }
    }
  }
}
